/* material symbols settings */
.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 24;
}

.material-symbols-outlined-topbar {
  margin-left: 15px;
  margin-right: 15px;
}

/* common */

.text-center {
  text-align: center;
}

/* common end */

/* 
.material-symbols-outlined {
  font-family: 'Material Symbols Outlined';
  font-style: normal;
  font-size: 24px;  
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
} */

/* template style */
body {
  margin: 0;
  padding: 0;
  /* box-sizing: border-box; */
  font-family: "Poppins", sans-serif;
  background-color: #f5f5f5;
  transition: all 0.5s ease;
  overflow-x: hidden;
}

.container {
  display: grid;
  min-height: 100vh;
  width: 100vw;
  grid-template-columns: 1fr 6fr;
  grid-template-rows: 1fr 14fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "navbar-template navbar-template"
    "sidebar-template body-template";
}

.navbar-template {
  grid-area: navbar-template;
}

.sidebar-template {
  grid-area: sidebar-template;
}

.body-template {
  grid-area: body-template;
  color: black;
}

/* template style  ends here*/

/* NAVBAR STYLE STARTS HERE */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");

:root {
  --white-color: #fff;
  --blue-color: #4070f4;
  --grey-color: #707070;
  --grey-color-light: #aaa;
  --brandgreen: #5b9279;
  --brandgreen-dark: #166c45;
}

/* top navbar style starts here */
.navbar {
  position: fixed;
  top: 0;
  height: 7vh;
  width: 100vw;
  left: 0;
  right: 0;
  background-color: var(--white-color);
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 1000;
}

.topbar {
  display: flex;
  align-items: center;
  height: 100%;
  width: 100vw;
  justify-content: space-between;
  padding-left: 60px;
  padding-right: 40px;
}

.logo-item {
  display: flex;
  align-items: center;
  font-size: 22px;
  font-weight: 500;
}
.profile {
  margin-left: 10px;
}

.profile-details {
  display: flex;
  align-items: center;
  height: 100%;
}

.navbar img {
  height: 6vh;
}

.navbar-content {
  display: flex;
  align-items: center;
}

.navbar-content i {
  cursor: pointer;
  font-size: 20px;
}
.topbar-title {
  font-size: 30px;
  font-weight: 500;
  color: black;
  margin-left: 20px;
}

.topbar-title span {
  color: BLACK;
}
.user-name {
  font-size: 20px;
  font-weight: 500;
  color: black;
  margin-left: 5px;
  margin-right: 5px;
}
/* top navbar style ends here */

/* sidebar style starts here */
/* sidebar */
.separator {
  height: 1px;
  width: 100%;
  background-color: var(--grey-color-light);
  margin: 0px 0;
  margin-top: 3px;
}
.sidebar-container {
  position: fixed;
  margin-left: 10px;
  margin-right: 10px;
  height: 100%;
  width: 13%;
}
.sidebar {
  background-color: var(--white-color);
  width: 14.3%;
  position: fixed;
  left: 0;
  height: 100%;
  z-index: 100;
  overflow-y: scroll;
  box-shadow: 0 0 1px var(--grey-color-light);
  transition: all 0.5s ease;
}

.sidebar.close {
  padding: 60px 0;
  width: 80px;
}
.sidebar::-webkit-scrollbar {
  display: none;
}
.menu_content {
  position: relative;
}
.menu_title {
  font-family: "poppins", sans-serif;
  margin: 15px 0;
  font-size: 18px;
  color: black;
}

.sidebar.close .menu_title {
  padding: 6px 30px;
}
.menu_title::before {
  color: black;
  white-space: nowrap;
}

.menu_menu::before {
  content: "Menu";
}
.menu_user::before {
  content: "User";
}

/* 
.sidebar.close .menu_title::before {
  content: "";
  position: absolute;
  height: 2px;
  width: 18px;
  border-radius: 12px;
  background: var(--grey-color-light);
} */

.menu_items {
  padding: 0;
  list-style: none;
}
.navlink_icon {
  position: relative;
  font-size: 25px;
  min-width: 40px;
  line-height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 6px;
  padding-left: 0;
  margin-left: 0;
}

.navlink_icon::before {
  content: "";
  position: absolute;
  height: 100%;
  left: -20px;
}

.sidebar .nav_link {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: auto;
  padding-right: auto;
  padding: 4px 15px;
  text-decoration: none;
  color: var(--grey-color);
  white-space: nowrap;
}
.sidebar.close .navlink {
  display: none;
}
.sidebar.close .nav_link:hover {
  background: var(--white-color);
}
.submenu_item {
  cursor: pointer;
}
.submenu {
  display: none;
}
.submenu_item .arrow-left {
  position: absolute;
  right: 10px;
  display: inline-block;
  margin-right: auto;
}
.sidebar.close .submenu {
  display: none;
}
.show_submenu ~ .submenu {
  display: block;
}
.show_submenu .arrow-left {
  transform: rotate(90deg);
}
.submenu .sublink {
  padding: 15px 15px 15px 52px;
}
.bottom_content {
  position: fixed;
  bottom: 60px;
  left: 0;
  width: 260px;
  cursor: pointer;
  transition: all 0.5s ease;
}
.bottom {
  position: absolute;
  display: flex;
  align-items: center;
  left: 0;
  justify-content: space-around;
  padding: 18px 0;
  text-align: center;
  width: 100%;
  color: var(--grey-color);
  border-top: 1px solid var(--grey-color-light);
  background-color: var(--white-color);
}
.bottom i {
  font-size: 20px;
}
.bottom span {
  font-size: 18px;
}
.sidebar.close .bottom_content {
  width: 50px;
  left: 15px;
}
.sidebar.close .bottom span {
  display: none;
}
.sidebar.hoverable .collapse_sidebar {
  display: none;
}
#sidebarOpen {
  display: none;
}
@media screen and (max-width: 768px) {
  #sidebarOpen {
    font-size: 25px;
    display: block;
    margin-right: 10px;
    cursor: pointer;
    color: var(--grey-color);
  }

  .sidebar.close {
    left: -100%;
  }
  .search_bar {
    display: none;
  }
  .sidebar.close .bottom_content {
    left: -100%;
  }
}

.button-sidebar-menu {
  width: 95%;
  position: relative;
  overflow: hidden;
  height: 3rem;
  padding: 0 2rem;
  border-radius: 1.5rem;
  background-size: 400%;
  color: var(--brandgreen);
  border: 2px solid var(--brandgreen-dark); /* added border with brandgreen-dark color */
  display: flex;
  justify-content: center;
  align-items: center;
}

.button-sidebar-menu:hover::before {
  transform: scaleX(1);
}

.button-sidebar-menu-content {
  position: relative;
  z-index: 1;
  text-align: center;
  margin: 0 auto; /* added margin to center the element horizontally */
}

.button-sidebar-menu::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  transform: scaleX(0);
  transform-origin: 0 50%;
  width: 100%;
  height: inherit;
  border-radius: inherit;
  background: var(--brandgreen-dark);
  transition: all 0.475s;
}

.button-sidebar-menu:hover {
  color: white;
}

.active-nav {
  color: white !important;
  background-color: var(--brandgreen-dark) !important;
  border: 2px solid var(--brandgreen-dark) !important;
}

/* sidebar style ends here */
.add-reservation-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.tabset > input[type="radio"] {
  position: absolute;
  left: -200vw;
}

.tabset .tab-panel {
  display: none;
}

.tabset > input:first-child:checked ~ .tab-panels > .tab-panel:first-child,
.tabset > input:nth-child(3):checked ~ .tab-panels > .tab-panel:nth-child(2),
.tabset > input:nth-child(5):checked ~ .tab-panels > .tab-panel:nth-child(3),
.tabset > input:nth-child(7):checked ~ .tab-panels > .tab-panel:nth-child(4),
.tabset > input:nth-child(9):checked ~ .tab-panels > .tab-panel:nth-child(5),
.tabset > input:nth-child(11):checked ~ .tab-panels > .tab-panel:nth-child(6) {
  display: block;
}

.tabset > label {
  position: relative;
  display: inline-block;
  padding: 15px 15px 25px;
  border: 1px solid transparent;
  border-bottom: 0;
  cursor: pointer;
  font-weight: 600;
}

.tabset > label::after {
  content: "";
  position: absolute;
  left: 15px;
  bottom: 10px;
  width: 22px;
  height: 4px;
  background: #8d8d8d;
}

input:focus-visible + label {
  outline: 2px solid var(--brandgreen);
  border-radius: 3px;
}

.tabset > label:hover,
.tabset > input:focus + label,
.tabset > input:checked + label {
  color: var(--brandgreen);
}

.tabset > label:hover::after,
.tabset > input:focus + label::after,
.tabset > input:checked + label::after {
  background: var(--brandgreen);
}

.tabset > input:checked + label {
  border-color: #ccc;
  border-bottom: 1px solid #fff;
  margin-bottom: -1px;
}

.tab-panel {
  padding: 0;

  border-top: 1px solid #ccc;
}

.tabset {
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
}

/*add reservation styles start here */

.reservation-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  /* width: 100%; */
}
#heading {
  text-transform: uppercase;
  color: var(--brandgreen);
  font-weight: normal;
  margin-bottom: 0;
  padding-top: 0;
  margin-top: 0;
}

.prog {
  width: 40%;
}

#msform {
  text-align: center;
  position: relative;
  margin-top: 20px;
}
.msform-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#msform fieldset {
  background: white;
  border: 0 none;
  border-radius: 0.5rem;
  box-sizing: border-box;
  width: 100%;
  margin: 0;
  height: 60vh;
  padding-bottom: 20px;
  position: relative;
}

.form-card {
  text-align: left;
}

#msform fieldset:not(:first-of-type) {
  display: none;
}

#msform input,
#msform textarea {
  padding: 8px 15px 8px 15px;
  border: 1px solid #ccc;
  border-radius: 0px;
  margin-bottom: 25px;
  margin-top: 2px;
  width: 100%;
  box-sizing: border-box;
  font-family: montserrat;
  color: #2c3e50;
  background-color: #eceff1;
  font-size: 16px;
  letter-spacing: 1px;
}

#msform input:focus,
#msform textarea:focus {
  -moz-box-shadow: none !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  border: 1px solid var(--brandgreen);
  outline-width: 0;
}

.reservation-buttonset {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
}

.fixed-height-row-reservation {
  display: flex;
  flex-direction: column;
  padding-left: 100px;
  padding-right: 100px;
  height: 50vh;
}

#msform .action-button {
  display: flex;

  width: 100px;
  background: var(--brandgreen);
  font-weight: bold;
  color: white;
  border: 0 none;
  justify-content: center;
  align-self: flex-end;
  border-radius: 0px;
  cursor: pointer;
  padding: 10px 5px;
  margin: 10px 0px 10px 5px;
  float: right;
  float: inline-end;
}
#msform .confirm-button {
  width: 100px;
  background: var(--brandgreen-dark);
  font-weight: bold;
  color: white;
  border: 0 none;
  border-radius: 0px;
  cursor: pointer;
  padding: 10px 5px;

  justify-content: center !important;
}
#msform .confirm-button:hover {
  background-color: var(--brandgreen);
}

#msform .action-button:hover,
#msform .action-button:focus {
  background-color: var(--brandgreen-dark);
}

#msform ul {
  display: flex;

  margin: 0;
  padding: 0;
}

#msform .action-button-previous {
  width: 100px;
  background: #616161;
  font-weight: bold;
  color: white;
  border: 0 none;
  border-radius: 0px;
  cursor: pointer;
  padding: 10px 5px;
  margin: 10px 5px 10px 0px;
  float: right;
}

#msform .action-button-previous:hover,
#msform .action-button-previous:focus {
  background-color: #000000;
}

.card {
  z-index: 0;
  border: none;
  position: relative;
}

.fs-title {
  font-size: 20px;
  color: var(--brandgreen);
  margin-bottom: 15px;
  font-weight: normal;
  text-align: center;
}

.purple-text {
  color: var(--brandgreen);
  font-weight: normal;
}

.steps {
  font-size: 13px;
  color: gray;
  margin-bottom: 10px;
  font-weight: normal;
  text-align: right;
}

.fieldlabels {
  color: gray;
  text-align: left;
}

#progressbar {
  margin-bottom: 10px;
  overflow: hidden;
  color: lightgrey;
}

#progressbar .active {
  color: var(--brandgreen);
}

#progressbar li {
  list-style-type: none;
  font-size: 15px;
  width: 25%;
  float: left;
  position: relative;
  font-weight: 400;
}

#progressbar #package:before {
  font-family: FontAwesome;
  content: "\f005";
}

#progressbar #rd:before {
  font-family: FontAwesome;
  content: "\f05a";
}

#progressbar #availability:before {
  font-family: FontAwesome;
  content: "\f059";
}

#progressbar #confirm:before {
  font-family: FontAwesome;
  content: "\f00c";
}

#progressbar li:before {
  width: 50px;
  height: 50px;
  line-height: 45px;
  display: block;
  font-size: 20px;
  color: #ffffff;
  background: lightgray;
  border-radius: 50%;
  margin: 0 auto 10px auto;
  padding: 2px;
}

#progressbar li:after {
  content: "";
  width: 100%;
  height: 2px;
  background: lightgray;
  position: absolute;
  left: 0;
  top: 25px;
  z-index: -1;
}

#progressbar li.active:before,
#progressbar li.active:after {
  background: var(--brandgreen);
}

.progress {
  height: 20px;
}

.progress-bar {
  background-color: var(--brandgreen);
}

.fit-image {
  width: 50%;
  object-fit: cover;
}
.reservation-container-fluid {
  height: 100%;
  width: 100%;
}

/* plan styles */
.plan {
  border-radius: 16px;
  box-shadow: 0 30px 30px -25px rgba(0, 38, 255, 0.205);
  padding: 10px;
  background-color: #ffffff;
  color: #4e7148;
  max-width: 250px;
}

.plan-deets {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.plan strong {
  font-weight: 600;
  color: #314a2c;
}

.plan .inner {
  align-items: center;
  padding: 10px;
  padding-top: 20px;
  background-color: #edfaef;
  border-radius: 12px;
  position: relative;
}

.plan .pricing {
  position: absolute;
  top: 0;
  right: 0;
  background-color: #befbc7;
  border-radius: 99em 0 0 99em;
  display: flex;
  align-items: center;
  padding: 0.625em 0.75em;
  font-size: 1rem;
  font-weight: 600;
  color: #314a2c;
}

.plan .pricing small {
  color: #709172;
  font-size: 0.6em;
  margin-left: 0.25em;
}

.plan .title {
  font-weight: 600;
  font-size: 1rem;
  top: 20px;
  color: #314a2c;
}

.plan .title + * {
  margin-top: 0.6rem;
}

.plan .info {
  font-size: 0.75rem;
}

.pkg-selection {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.radio-inputs {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  border-radius: 0.5rem;
  background-color: #eee;
  box-sizing: border-box;
  box-shadow: 0 0 0px 1px rgba(0, 0, 0, 0.06);
  padding: 0.25rem;
  width: 300px;
  font-size: 14px;
}

.radio-inputs .radio {
  flex: 1 1 auto;
  text-align: center;
}

.radio-inputs .radio input {
  display: none;
}

.radio-inputs .radio .name {
  display: flex;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  border-radius: 0.5rem;
  border: none;
  padding: 0.5rem 0;
  color: rgba(51, 65, 85, 1);
  transition: all 0.15s ease-in-out;
}

.radio-inputs .radio input:checked + .name {
  background-color: var(--brandgreen);
  font-weight: 600;
  color: white;
}
/* plan styles end */

/* date and people picker styles start here */
.dp-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

/* .dp-div{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 100px;
  width: 70px;
  border-radius: 20px;
  background-color: rgba(127, 255, 212, 0.514);
  margin-top: ;
}

.date-slot{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  /* width: 50%; */
/* margin-left: auto;
  margin-right: auto; */
*/

/* } */

/* date and people picker styles ends here */
/* available slots styles start here */

.availability-table {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}
.slot-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 50px;
  width: 80px;
  background-color: green;
  border-radius: 5px;
  margin: 5px;
}
.slot-selector {
  font-size: 16px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
  color: #333;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  margin: 0 auto;
  margin-top: 10px;
  display: block;
}

.slot-selector option {
  font-size: 16px;
  padding: 10px;
  background-color: #fff;
  color: #333;
}

.slot-selector option:hover {
  background-color: #f5f5f5;
}

.slot-selector option:checked {
  background-color: #e6e6e6;
  font-weight: bold;
}
/* available slots styles ends here */
/* view reservation styles */
.content {
  max-width: 1000px;
  margin: 0 auto;
}
.content h2 {
  margin: 0;
  padding: 25px 0;
  font-size: 22px;
  border-bottom: 1px solid #ebebeb;
  color: #666666;
}
.read .create-contact {
  display: inline-block;
  text-decoration: none;
  background-color: #38b673;
  font-weight: bold;
  font-size: 14px;
  color: #ffffff;
  padding: 10px 15px;
  margin: 15px 0;
}
.read .create-contact:hover {
  background-color: #32a367;
}
.read .pagination-view {
  display: flex;
  justify-content: flex-end;
}
.read .pagination-view a {
  display: inline-block;
  text-decoration: none;
  background-color: #a5a7a9;
  font-weight: bold;
  color: #ffffff;
  padding: 5px 10px;
  margin: 15px 0 15px 5px;
}
.read .pagination-view a:hover {
  background-color: #999b9d;
}
.read table {
  width: 100%;
  padding-top: 30px;
  border-collapse: collapse;
}
.read table thead {
  background-color: #ebeef1;
  border-bottom: 1px solid #d3dae0;
}
.read table thead td {
  padding: 10px;
  font-weight: bold;
  color: #767779;
  font-size: 14px;
}
.read table tbody tr {
  border-bottom: 1px solid #d3dae0;
}
.read table tbody tr:nth-child(even) {
  background-color: #fbfcfc;
}
.read table tbody tr:hover {
  background-color: var(--brandgreen);
}
.read table tbody tr:hover td {
  color: #ffffff;
}
.read table tbody tr:hover td:nth-child(1) {
  color: #ffffff;
}
.read table tbody tr td {
  padding: 10px;
  height: 20px;
}
.read table tbody tr td > .long-td {
  width: 70px;
}

.read table tbody tr td:nth-child(1) {
  color: #a5a7a9;
}
.read table tbody tr td.actions {
  padding: 8px;
  text-align: right;
}
.read table tbody tr td.actions .edit,
.read table tbody tr td.actions .trash {
  display: inline-flex;
  text-align: right;
  text-decoration: none;
  color: #ffffff;
  padding: 10px 12px;
}
.read table tbody tr td.actions .trash {
  background-color: #b73737;
}
.read table tbody tr td.actions .trash:hover {
  background-color: #a33131;
}
.read table tbody tr td.actions .edit {
  background-color: var(--brandgreen);
}
.read table tbody tr td.actions .edit:hover {
  background-color: var(--brandgreen-dark);
}

.delete .yesno {
  display: flex;
}
.delete .yesno a {
  display: inline-block;
  text-decoration: none;
  background-color: #38b673;
  font-weight: bold;
  color: #ffffff;
  padding: 10px 15px;
  margin: 15px 10px 15px 0;
}
.delete .yesno a:hover {
  background-color: #32a367;
}
/* end view reservation styles  */

.date-input-group {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
}

/* availiability slots styles  */
/* Time Slot Styles */
.availability-table {
  align-items: center;
  justify-content: center;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}

.time-slots {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  margin-top: 20px;
}

.time-slot {
  padding: 10px 20px;
  width: 80px;
  gap: 10px;
  height: 40px;
  border: 1px solid var(--brandgreen, #166c45);
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  background-color: #fff;
  color: #333;
  justify-content: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
.time-slot:hover,
.time-slot.selected {
  background-color: var(--brandgreen, #166c45);
  color: white;
}

/* CSS for styling the person icons */
.person-button {
  width: 30px;
  height: 30px;
  background-color: transparent;
  border: 1px solid #000;
  margin: 5px;
  cursor: pointer;
}

.person-button.clicked {
  background-color: green;
  border: 1px solid green;
}

.date-slots {
  padding-right: 50px;
  padding-left: 50px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  gap: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  border: 1px solid var(--brandgreen, #166c45);
  border-radius: 15px;
  /* width: 100%; */
  margin-top: 20px;
}

.date-slot {
  padding: 8px 15px;
  width: 30px;
  height: 45px;
  border: 1px solid var(--brandgreen, #166c45);
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  background-color: #fff;
  color: #333;
}

.date-slot:hover,
.date-slot.selected {
  background-color: var(--brandgreen, #166c45);
  color: white;
}

/* NO OF PEOPLE SLOTS */
.people-selection {
  text-align: center;
  margin: 20px 0;
  margin-top: 20px;
}

.person-icon {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  margin: 5px;
  transition: transform 0.3s;
}

.person-icon:hover {
  transform: scale(1.1);
}

.person-icon.selected {
  color: #166c45;
}

.fa-person {
  margin-right: 10px;
}

.person-icon p {
  margin: 0;
  font-size: 20px;
}
.people-icons {
  margin-top: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  border: 1px solid var(--brandgreen, #166c45);
  border-radius: 15px;
}

.slots {
  align-items: flex-start;
}

/* reservation summery styles  */
.reservation-summary {
  display: flex;
  flex-direction: column;
  background-color: #f5f5f5;
  border-radius: 10px;
  padding-left: 100px;
  padding-right: 100px;
  margin-top: 20px;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}

.summery-row {
  width: 50%;
  height: 150px;
  background-color: #5b927963;
}

.summery-row.left {
  padding-left: 20px;
  text-align: left;
}

.summery-row.right {
  padding-right: 20px;
  text-align: right;
}
.summary-amount-label {
  font-size: 1rem;
  font-weight: 600;
}
#summary-date {
  font-size: 1rem;
  color: #333;
}

.sum-amount {
  margin-top: 0;
  margin-bottom: 0;
}

#summary-package {
  font-size: 1rem;
  color: #333;
}

#summary-people {
  font-size: 1rem;
  color: #333;
}

#summary-table {
  font-size: 1rem;
  color: #333;
}

#summary-time {
  font-size: 1rem;
  color: #333;
}

#summary-amount {
  font-size: 1.5rem;
  color: #333;
  font-weight: 600;
}

.summary-details {
  display: flex;
  flex-direction: row;
  align-items: left;
  justify-content: left;
}
.summary-details p,
.total-amount p {
  font-size: 1rem;
  color: #333;
}

.menu-items{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.menu-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  height: 50px;
  border: solid 1px #166c45;
  border-radius: 5px;
  padding-left: 10px;
  padding-right: 10px;
}

.menu-item:hover {
  background-color: #166c45;
  color: white;
}

#add-item {
  background-color: #ececec;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  margin-top: 20px;
  width: 100%;
  border-radius: 5px;
}

#add-item:hover {
  background-color: #d9d9d9;
  transform: scale(1.01);
}

#proceed-to-pay {
  background-color: var(--brandgreen);
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  margin-top: 20px;
  width: 100%;
}

#proceed-to-pay:hover {
  background-color: var(--brandgreen-dark);
  transform: scale(1.01);
}

.added-items {
  display: flex;
  flex-direction: column;
  /* align-items: center;
  justify-content: center; */
  margin-top: 20px;
  padding: 20px;
  border-radius: 20px;
  background-color: #ffffff;
}

/* Search form styles */
form.search-form {
  display: flex;
  align-items: left;
  gap: 10px;
  height: 40px;
}

.searchnfilter {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 40px;

  margin-bottom: 20px;
}

.search-reservation {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.search-form input[type="text"] {
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 0.25rem;
}

.search-form button {
  padding: 0.5rem 1rem;
  background-color: var(--brandgreen);
  color: white;
  border: none;
  border-radius: 0.25rem;
  cursor: pointer;
}

.search-form button:hover {
  background-color: var(--brandgreen-dark);
}

/* pagination-view styles */
.pagination-view {
  display: flex;
  list-style: none;
  padding: 0;
}

.pagination-view a {
  padding: 0.5rem 0.75rem;
  margin: 0 0.25rem;
  border: 1px solid #ddd;
  border-radius: 0.25rem;
  text-decoration: none;
  color: #007bff;
}

.pagination-view a:hover {
  border-color: #0056b3;
}

.pagination-view a.active {
  font-weight: bold;
  color: #fff; /* Change this to your preferred active color */
  background-color: var(
    --brandgreen
  ); /* Change this to your preferred background color */
  border: 1px solid var(--brandgreen-dark); /* Optional: if you want a border */
  padding: 0.5em 1em; /* Example padding, adjust as needed */
  border-radius: 0.25em; /* Example border-radius, adjust as needed */
  text-decoration: none;
}

/* reservation filters */
#reservationFilters {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  height: auto;
}

#reservationFilters select,
#reservationFilters input[type="text"],
#reservationFilters input[type="date"] {
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 0.25rem;
  font-family: inherit;
}

#reservationFilters button {
  padding: 0.5rem 1rem;
  background-color: var(--brandgreen);
  color: white;
  border: none;
  height: 40px;
  border-radius: 0.25rem;
  cursor: pointer;
  font-family: inherit;
}

#reservationFilters button:hover {
  background-color: var(--brandgreen-dark);
}

.filter-reservation {
  display: flex;
  flex-direction: row;
  margin-left: auto;
  margin-right: 0px;
}

/* customer menu styles */
.customer-menu-view{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
 
  margin-left: auto;
  margin-right: auto;
  

}
.menu-view-head {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 10px;
}

.menu-view-header-bar{
 background-color: WHITE;
 width: 95%;
 border-radius: 10px;
 margin-left: 40px;  
 margin-top: 5px;
 margin-right: 70px;
 z-index:999;
 position: sticky;
}

.menu-view-filters {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 20px;
  width: 100%;
}

.menu-categories {
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
  margin-left: 20px;
  border: 1px solid var(--brandgreen);
  border-radius: 10px;
  padding: 4px;
  gap: 3px;
}

.category-button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 20px;
  background-color: var(--brandgreen);
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 90px;
}

.category-button:hover {
  background-color: var(--brandgreen-dark);
}

/* menus */

.menu-container-div-out {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  /* background-color: red; */
  width: 1450px;
  padding: 20px;
  gap: 15px;
}
.menu-container-div {
  /* display: flex;
  flex-direction: row; */
  /* background-color: red; */
  padding: 20px;
  gap: 15px;
  /* width: 100vh; */
}

.menu-container-div-out img{
  display: flex;
  flex-direction: row;
  width: 150px;
  height: 150px;
  border-radius: 10px;}

.menu-item-card{
  border:  var(--brandgreen-dark)  solid 1px;
  padding: 10px;
  border-radius: 20px;
  background-color: white;
  width: 150px;
}
.menu-item-card h3{
  margin: 0;
  padding: 0;
  font-size: 20px;
  font-weight: 500;
  color: var(--brandgreen);
}
.menu-item-card p{
  margin-top: 5px;
  margin-bottom: 0;
}





