
@media only screen and (max-width: 600px) {
    .container3 {
        width: 90%;
        text-align: center;
      
  }}
  
  
  
  /*markout*/
  .mbody {
    margin: 10px;
    padding: 0;
    font-family: "Poppins", sans-serif;
    
  }
  
  .mh2{
    text-align: center;
    margin: 20px;
    text-transform: uppercase;
    color: var(--brandgreen);
    
  }
  
  .mlabel {
    display: flex;
    flex-direction: row;
    margin: 10px;
    font-size: 14px;
    color: #495f50;
    font-weight: bold;
    position: relative;
    
  }
  
  .minput[type="number"] ,
  .mselect, .inventory-dropdown{
    width: 80%;
    padding: 10px;
    margin: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    outline: none;
  }
  
  .mtable {
    width: 90%;
    border-collapse: collapse;
    margin: 20px;
  
  }
  
  .mth, .mtd, .mtr{
    
    padding: 10px;
    text-align: left;
    font-size: 14px;
    color: #495f50;
  }
  
  .mbutton2 {
    padding: 12px 12px;
    border: none;
    border-radius: 4px;
    background-color: lightcoral; 
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .mbutton2.transferred {
    background-color: var(--brandgreen); 
  }
  
  .mbutton2.unavailable {
    background-color: orange; 
  }
  .addbutton{
    padding: 12px 12px;
    border: none;
    border-radius: 4px;
    background-color: var(--brandgreen); 
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  .addbutton:hover{
    background-color: #557155 ; 
  }
  
  @keyframes pulse {
    0% {
        transform: scale(0.95);
        box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.7);
    }
  
    70% {
        transform: scale(1);
        box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
    }
  
    100% {
        transform: scale(0.95);
        box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    }
  }
  
  .mdelete-icon {
    color: lightcoral;
    cursor: pointer;
    border: none;
  }
  
    /*Inventory list*/
  
    .invh2{
        text-align: center;
        margin-bottom: 20px;
    }
  
    .top-section {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 20px;
    }
  
    .inventorysearch-bar,
    .inventoryfilter-bar {
        display: flex;
        justify-content: space-between;
        margin-bottom: 20px;
        gap: 10px;
    }
  
    .invinput[type="text"] {
        padding: 3px;
        border: 1px solid #ccc;
        border-radius: 4px;
        outline: none;
    }
  
    .invbutton {
        padding: 8px 12px;
        border: none;
        border-radius: 4px;
        background-color: var(--brandgreen);
        color: white;
        cursor: pointer;
    }
  
    .invbutton:hover {
        background-color: #557155;
    }
  
    .invtable-container {
        margin-bottom: 20px;
        overflow-x: auto;
    }
  
    .invtable {
        width: 98%;
        border-collapse: collapse;
    }
  
    .invtable th,
    .invtable td {
        border: 2px solid  black;
        padding: 8px;
        text-align: center;
        font-size: 14px;
        color:#495f50;
    }
  
    .invtable th {
        background-color: white;
        cursor: pointer;
        height: 40px;
    
    }
  
    /*GRN */
    
    .grnh1 {
        text-align: center;
        color: black;
        margin-bottom: 40px;
    }
  
    .grnform {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 20px;
    }
  
    .grnleft-side, .grnright-side {
        display: flex;
        flex-direction: column;
        gap: 8px;
    }
  
    .grnlabel {
        font-size: 14px;
        color: #495f50;
    }
  
    .grninput[type="text"], .grninput[type="number"], .grninput[type="date"], .grnselect {
        width: 90%; 
        padding: 8px;
        border: 1px solid #ccc;
        border-radius: 4px;
    }
  
    .grnbutton {
        background-color: var(--brandgreen);
        color: white;
        padding: 10px;
        border: none;
        cursor: pointer;
        width: 30%;
        border-radius: 4px;
        transition: background-color 0.3s ease;
        font-size: small;
        height: 40px;
    }
  
    .grnbutton:hover {
        background-color: #557155;
    }
  
    /*Dash bpard*/
  
  
  .dashtop {
    display: flex;
    justify-content: space-evenly;
    padding: 10px;
    align-items: center;
  }
  
  .stock-tile {
    padding: 1px;
    border: 3px solid var(--brandgreen);
    background-color: beige;
    margin: 5px;
    height: 150px;
    width: 150px;
    flex: 0 0 auto;
  }
  
  .stock-container {
    display: flex;
    overflow: hidden;
    width: 800px;
  }
  
  .dashmove {
    padding: 1px;
    margin: 1px;
    color: var(--brandgreen);
    transition: transform 0.3s;
    background-color: transparent;
    border: none;
    font-size: small bold;
    cursor: pointer;
  }
  
  .dashmove:hover {
    color: var(--brandgreen);
    background-color: transparent;
    border: none;
  }
  
  .main-content {
    display: flex;
    justify-content: center;
    padding: 80px;
    gap: 10px;
  }
  
  .save {
    padding: 20px;
    width: 80px;
    height: 30px;
    border: none;
    background-color: var(--brandgreen);
    color: white;
    cursor: pointer;
    transition: transform 0.3s;
  }
  
  .save:hover {
    background-color: #557155;
  }
  
  .modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
  }
  
  .dashcontent {
    background-color: #fefefe;
    margin: 20% auto;
    padding: 20px;
    border-radius: 8px solid #888;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 60%;
    max-width: 500px;
    display: flex;
    flex-direction: column;
    align-content: space-evenly;
  }
  
  /*drop down for inventory list*/
  /* Style the dropdown button */
  .dropbtn {
    background-color: white;
    color: var(--brandgreen);
    font-size: 10px;
    border: none;
  }
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: absolute;
    display: inline-block;
  }
  
  /* Dropdown content (hidden by default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    color: gray;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {display: block;}
  
  