body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  
  background-image: url('../img/login/staff-bkg.webp');
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-user-select: none;
  -ms-user-select: none; 
  user-select: none; 
  
}

/* login navbar styles */
.container-main-nav * {
  box-sizing: border-box;
  display: flex;
}

.container-main-nav {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  position: relative;
  width: 100vw;
}
.navbar {
  background: #ffffff;
  padding: 15px 40px 15px 40px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex-shrink: 0;
  width: 100vw;
  height: 7vh;
  position: relative;
  box-shadow: 0px 0px 5.92px 0px rgba(0, 0, 0, 0.12);
}

.nav-login-buttons {
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
  margin-left: 5px;
}

.dineease-logo {
  border-radius: 100px;
  flex-shrink: 0;
  width: 30px;
  height: 30px;
  position: relative;
}
.title {
  color: var(--brand-black, #12130f);
  text-align: left;
  font: 400 27.62px/35.51px "Poiret One", sans-serif;
  position: relative;
  flex: 1;
}
.navigation {
  background: #ffffff;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex-shrink: 0;

  position: relative;
}

.navbar-nav {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav-item {
  margin-right: 15px;
}

.nav-link {
  font-size: 16px;
  color: #333;
  text-decoration: none;
  transition: color 0.3s ease-in-out;
}

.logout-link {
  font-size: 16px;
  color: #333;
  text-decoration: none;
  transition: color 0.3s ease-in-out;
  
}

.nav-link:hover {
  color: #007bff;
}

.tab {
  color: var(--brand-black, #12130f);
  text-align: left;
  font: 400 15.78px/23.67px "Roboto", sans-serif;
  position: relative;
}
.login {
  background: var(--brand-darkgreen, #166c45);
}
.login .text-register {
  background: var(--brand-darkgreen, #5b9279);
}

.register {
  background: var(--brand-black, #12130f);
}
.register .text-register {
  background: var(--brand-black, #12130f);
}
.btn-nav {
  border-radius: 8px;
  padding: 12px;
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 100px;
  height: 40px;
  position: relative;
  cursor: pointer;
  transition: box-shadow 0.3s ease-in-out, background-color 0.3s ease-in-out;
}
.btn-nav:hover {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}
button.login:hover {
  background-color: #5b9279;
}
button.register:hover {
  background-color: #333;
}

.text-register {
  border: none;
  color: #ffffff;
  text-align: left;
  font: 500 16px/24px "Roboto", sans-serif;
  position: relative;
  text-decoration: underline none;
}

.nav-login-buttons a {
  text-decoration: none;
  color: #ffffff;
}
.navbar-logo {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  margin-right: 5px;
}
.navbar-logo img {
  height: 30px;;
  margin-right: 10px;
}
/* end of login navbar styles  */

/* main container styles start */

.container-main {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  position: relative;
  width: 100vw;
  height: 100vh;
}

/* main container styles end */

/* hero styles start here */
.hero {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  
}

/* hero styles end here  */

/* login styles start here */
.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.staff-login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.login-card {
  width: 350px;
  background-color: #fff;
  padding: 25px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.login-card h2 {
  color: black;
  margin-bottom: 20px;
}

.login-card form {
  display: flex;
  flex-direction: column;
}

.login-card label {
  text-align: left;
  margin-bottom: 5px;
}

.input-div {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.login-card input {
  padding: 10px;
  /* margin-bottom: 10px; */
  border: 1px solid #ddd;
  border-radius: 5px;
}

.login-card button {
  padding: 10px;
  background-color: var(--brand-darkgreen, #166c45);
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
  margin-bottom: 10px;
  transition: box-shadow 0.3s ease-in-out, background-color 0.3s ease-in-out;
}

.login-card button:hover {
  background-color: var(--brand-darkgreen, #5b9279);
  
}

.login-switch {
  margin-top: 15px;
  font-size: 14px;
}

.login-switch a {
  color: var(--brand-darkgreen, #5b9279);
  text-decoration: none;
}

.is-invalid {
  border: 1px solid #dc3545;
  border-radius: 0.3rem;
}

.invalid-feedback {
  color: #dc3545;
  font-size: 0.6rem;
  text-align: left;
}

.login-card-subheading {
  display: block;
  font-size: 1em;
  margin-block-start: 0.5em;
  margin-block-end: 0.5em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

.required {
  color: #dc3545;
  font-size: smaller;
}

/* login styles end here */

/* helpers styles start here */

/* margins */
.mt-1 {
  margin-top: 5px;
}
.mt-2 {
  margin-top: 10px;
}
.mt-3 {
  margin-top: 15px;
}
.mt-4 {
  margin-top: 20px;
}
.mt-5 {
  margin-top: 25px;
}
.mt-6 {
  margin-top: 30px;
}
.mb-1 {
  margin-bottom: 5px;
}
.mb-2 {
  margin-bottom: 10px;
}
.mb-3 {
  margin-bottom: 15px;
}
.mb-4 {
  margin-bottom: 20px;
}
.mb-5 {
  margin-bottom: 25px;
}
.mb-6 {
  margin-bottom: 30px;
}

/* alerts */

.alert {
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px;
}

.alert-success {
  color: #155724;
  background-color: #d4edda;
  border-color: #c3e6cb;
}

.alert-info {
  color: #0c5460;
  background-color: #d1ecf1;
  border-color: #bee5eb;
}

.alert-warning {
  color: #856404;
  background-color: #fff3cd;
  border-color: #ffeeba;
}

.alert-danger {
  color: #721c24;
  background-color: #f8d7da;
  border-color: #f5c6cb;
}
.active-nav{
  background-color: #0c5460;
}
/* helpers styles end here */

